<h1><%= @campaign.name %></h1>

<% if @user_role == 'owner' %>
  <%= render :partial => 'campaigns/owner_view' %>
<% elsif @user_role == 'participant' %>
  <%= render :partial => 'campaigns/participant_view' %>
<% else %>
  <%= render :partial => 'campaigns/public_view' %>
<% end %>